# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Project Specific
bin/
dji_luter_config.json
dji_export_config.json
EXPORT/
RAW/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.trae/
