{
    "input_dir": "./RAW",
    "output_dir": "./EXPORT",
    "device": "Action 4",
    "lut_type": "Normalization",
    "lut_path": "config/Action 4/Normalization/DJI OSMO Action 4 D-Log M to Rec.709 V1.cube",
    "encoder": "NVIDIA (h264_nvenc)",
    "concurrency": 2,
    "ffmpeg_path": "bin/ffmpeg.exe"
}
